// partials
@import 'partials/colors'
@import 'partials/typography'
@import 'partials/grid'
@import 'partials/media-queries'
@import 'partials/general'


// pieces
@import 'pieces/top-navigation'
@import 'pieces/side-navigation'

article
  background-color: #fff
  margin-bottom: 70px

  .top-pager
    position: relative
    background-color: $main-yellow
    height: 35px
    padding-top: 3px
    color: $main-meta-grey
    z-index: 1
    font-weight: 600
    .previous
      display: inline-block
      margin-left: 20px
      color: #777
      font-size: 0.8em
    .card-count
      display: inline-block
      position: relative
      left: 42%
      text-transform: uppercase
      font-size: 14px
    .next
      display: inline-block
      margin-right: 20px
      color: #777
      font-size: 0.8em

  .content
    color: $main-text
    line-height: 1.75em
    min-height: 28em
    margin-top: 0
    padding: 55px 10% 25px

    .headline
      color: $main-header
      line-height: 1.1em
      margin-bottom: 20px

    p
      margin: 0 0 1.5em 0

  .bottom-pager
    position: relative
    height: 35px
    border-top: 1px solid #ddd
    padding-top: 3px
    font-weight: 600
    .left-arrow, .share-text, .social-buttons, .right-arrow, .bottom-centered
      display: inline-block

    .bottom-centered
      position: relative
      left: 35%

    .share-text
      font-weight: 400
      color: $main-header
      font-size: 13px
      text-transform: uppercase

    .left-arrow, .right-arrow
      font-size: 0.8em
      color: #777

    .left-arrow
      margin-left: 20px
    .right-arrow
      margin-right: 20px

    .social
      margin-left: 10px
      color: $main-header
      &:hover
        color: $link-blue

