html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

body {
  font-family: "Open Sans", serif;
  line-height: 1.75em;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  padding: 0; }

p {
  font-size: 93.75%;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #6d98a8; }

*, *:before, *:after {
  box-sizing: border-box; }

.grid {
  width: 100%;
  max-width: 960px; }

.row {
  margin-bottom: 1em; }

.row:last-child {
  margin-bottom: 0; }

.grid, .row, [class*="-col"] {
  padding: 0;
  margin: 0; }

.grid:after, .row:after {
  content: "";
  display: table;
  clear: both; }

[class*="-col"] {
  float: left;
  margin-right: 1.5%; }

[class*="-col"]:last-child {
  margin-right: 0; }

.one-col {
  width: 6.958%; }

.two-col {
  width: 15.41%; }

.three-col {
  width: 23.87%; }

.four-col {
  width: 32.33%; }

.five-col {
  width: 40.79%; }

.six-col {
  width: 49.25%; }

.seven-col {
  width: 57.7%; }

.eight-col {
  width: 66.16%; }

.nine-col {
  width: 74.62%; }

.ten-col {
  width: 83.08%; }

.eleven-col {
  width: 91.54%; }

.twelve-col {
  width: 100%; }

.one-offset {
  margin-left: 8.458%; }

.two-offset {
  margin-left: 16.91%; }

.three-offset {
  margin-left: 25.37%; }

.four-offset {
  margin-left: 33.83%; }

.five-offset {
  margin-left: 42.29%; }

.six-offset {
  margin-left: 50.75%; }

.seven-offset {
  margin-left: 59.2%; }

.eight-offset {
  margin-left: 67.66%; }

.nine-offset {
  margin-left: 76.12%; }

.ten-offset {
  margin-left: 84.58%; }

.eleven-offset {
  margin-left: 91.54%; }

@media all and (max-width: 768px) {
  .row {
    margin: 0; }

  .three-col {
    display: none; }

  .eight-col {
    width: 100%;
    margin-bottom: 1em; } }
[class*="-col"] {
  margin-top: 100px; }

.three-col {
  border: none;
  margin-right: 4%;
  max-width: 270px; }

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../img/vox-background.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
  padding-top: 1px;
  margin-top: -1px;
  background-color: #657e8e; }

.container {
  width: 96%;
  margin: 0 auto; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.author {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8em; }

.thumbail {
  padding-left: 20px; }

.top-nav {
  background: rgba(95, 118, 133, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 6px 0;
  z-index: 1000; }
  .top-nav .logo {
    font-family: "Lobster", cursive;
    font-size: 2.3em;
    color: #fff;
    text-decoration: none; }
    .top-nav .logo:hover {
      color: #fff200; }
  .top-nav .share {
    text-transform: uppercase;
    padding-top: 7px;
    margin-right: 50px; }
    .top-nav .share span {
      font-size: 0.7em;
      font-weight: 600;
      color: #ddd; }
  .top-nav .social {
    color: #ddd;
    margin-left: 10px; }
    .top-nav .social:hover {
      color: #fff200;
      cursor: pointer; }

.side-nav .side-nav-header {
  min-height: 220px;
  padding: 30px 20px 20px;
  background: #ffeb00; }
  .side-nav .side-nav-header h2 {
    font-size: 1.5em; }
  .side-nav .side-nav-header .side-nav-meta {
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 10px 0 0; }
    .side-nav .side-nav-header .side-nav-meta p {
      height: 17px; }
.side-nav .scroller {
  max-height: 25px;
  text-align: center;
  color: #777;
  background: #2a2a2a;
  cursor: pointer;
  font-size: 0.7em; }
  .side-nav .scroller:hover {
    color: #fff;
    background: #222222; }
.side-nav .related-list {
  position: relative;
  overflow-y: auto;
  color: #666;
  background-color: #313131;
  margin: 0;
  padding: 10px 15px 20px; }
  .side-nav .related-list li {
    padding: 3px 3px;
    margin: 1em 0 0 1.75em;
    font-size: 0.85em;
    line-height: 1.5em; }
    .side-nav .related-list li.current a {
      color: #fff200; }
    .side-nav .related-list li a {
      color: #aaa; }
      .side-nav .related-list li a:hover {
        color: #6d98a8; }

article {
  background-color: #fff;
  margin-bottom: 70px; }
  article .top-pager {
    position: relative;
    background-color: #fff200;
    height: 35px;
    padding-top: 3px;
    color: #888;
    z-index: 1;
    font-weight: 600; }
    article .top-pager .previous {
      display: inline-block;
      margin-left: 20px;
      color: #777;
      font-size: 0.8em; }
    article .top-pager .card-count {
      display: inline-block;
      position: relative;
      left: 42%;
      text-transform: uppercase;
      font-size: 14px; }
    article .top-pager .next {
      display: inline-block;
      margin-right: 20px;
      color: #777;
      font-size: 0.8em; }
  article .content {
    color: #5e605f;
    line-height: 1.75em;
    min-height: 28em;
    margin-top: 0;
    padding: 55px 10% 25px; }
    article .content .headline {
      color: #4b4d4c;
      line-height: 1.1em;
      margin-bottom: 20px; }
    article .content p {
      margin: 0 0 1.5em 0; }
  article .bottom-pager {
    position: relative;
    height: 35px;
    border-top: 1px solid #ddd;
    padding-top: 3px;
    font-weight: 600; }
    article .bottom-pager .left-arrow, article .bottom-pager .share-text, article .bottom-pager .social-buttons, article .bottom-pager .right-arrow, article .bottom-pager .bottom-centered {
      display: inline-block; }
    article .bottom-pager .bottom-centered {
      position: relative;
      left: 35%; }
    article .bottom-pager .share-text {
      font-weight: 400;
      color: #4b4d4c;
      font-size: 13px;
      text-transform: uppercase; }
    article .bottom-pager .left-arrow, article .bottom-pager .right-arrow {
      font-size: 0.8em;
      color: #777; }
    article .bottom-pager .left-arrow {
      margin-left: 20px; }
    article .bottom-pager .right-arrow {
      margin-right: 20px; }
    article .bottom-pager .social {
      margin-left: 10px;
      color: #4b4d4c; }
      article .bottom-pager .social:hover {
        color: #6d98a8; }

/*# sourceMappingURL=style.css.map */
